<!-- EDIT  -->
<form action="/projects/<%= project.id %>?_method=PUT" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" id="name" name="name" value="<%= project.name %>">
  </div>

  <% category.forEach(cat => { %>
    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" class="form-control" id="category" name="category" value="<%= cat.name %>">
    </div>
  <% }) %>

  <div class="form-group">
    <label for="githubLink">Github Link</label>
    <input type="text" class="form-control" id="githubLink" name="githubLink" value="<%= project.githubLink %>">
  </div>

  <div class="form-group">
    <label for="deployedLink">Deployed Link</label>
    <input type="text" class="form-control" id="deployLink" name="deployLink" value="<%= project.deployLink %>">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" value="<%=project.description %>"></input>
  </div>

  <button type="submit" class="btn btn-primary">Edit Project</button>
</form>